<div class="wrapper">
  <h1>{{title}}</h1>
  <h2>Vanilla JavaScript Hangman Game</h2>
  <p>Use the alphabet below to guess the word, or click hint to get a clue.</p>
</div>
<div class="wrapper">
  <div id="buttons">
    <ul id="alphabet">
      <li
        *ngFor="let alphabet of alphabets"
        [id]="'letter_' + alphabet"
        (click)="check($event,alphabet)"
      >
        {{ alphabet }}
      </li>
    </ul>
  </div>
  <p id="catagoryName">{{ showCatagoryName }}</p>
  <div id="hold">
    <ul id="my-word" class="alphabet">
      <li *ngFor="let guess of geusses" class="guess">{{ guess }}</li>
    </ul>
  </div>
  <p id="mylives">{{ showLives }}</p>
  <p id="clue">{{ showClue }}</p>
  <canvas id="stickman" #stickman
    >This Text will show if the Browser does NOT support HTML5 Canvas
    tag</canvas
  >
  <div class="container">
    <button id="hint" (click)="showHint()">Hint</button>
    <button id="reset" (click)="reset()">Play again</button>
  </div>
</div>
